:root {
  --color-bg: #f9f9f9;
  --color-section-bg: #ffffff;
  --color-text: #333333;
  --color-accent-primary: #0072ff;
  --color-accent-secondary: #00c49a;
  --color-button-text: #ffffff;
  --color-card-shadow: rgba(0, 0, 0, 0.1);
}

/* Dark mode overrides */
body.dark-mode {
  --color-bg: #121212;
  --color-section-bg: #1e1e1e;
  --color-text: #e0e0e0;
  --color-accent-primary: #4dabf7;
  --color-accent-secondary: #00c49a;
  --color-button-text: #ffffff;
  --color-card-shadow: rgba(0, 0, 0, 0.5);
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: var(--color-bg);
  color: var(--color-text);
  scroll-behavior: smooth;
}

h1,h2,h3,h4 {
  font-family: 'Inter', sans-serif;
}

.App {
  overflow-x: hidden;
}
